.cont{
    background-color: rgba(80, 69, 104, 0.5);
    height: 105px;
}
.foto-perfil{
    width: 38px;
    margin-right: 10px;
}
.mi-p{
    width: 200px;
}
.mi-p button{
    font-size: 15px;
    font-weight: 400;
    margin-right: 40px;
}
.men{
    width: 200px;
}
.logo{
    width: 70px;
}