.cartas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.info-like {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 78px;
}

.boton-guardar {
  margin-top: 5px;
  position: absolute;
  z-index: 2;
  margin-right: 20px;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.6);
}
.boton-guardar img {
  width: 17px;
}
.personaje-anime {
  background-color: #ffffff;
  width: 65%;
  -webkit-box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.23);
  box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.23);
}
.border-comun {
  height: 450px;
  width: 260px;
  background-image: url("/assets/FondoComun.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.border-plata {
  height: 450px;
  width: 260px;
  background-image: url("/assets/plata.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.border-oro {
  height: 450px;
  width: 260px;
  background-image: url("/assets/oro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.border-raro {
  height: 450px;
  width: 260px;
  background-image: url("/assets/raro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.border-epico {
  height: 450px;
  width: 260px;
  background-image: url("/assets/epico.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.border-mitico {
  height: 450px;
  width: 260px;
  background-image: url("/assets/mitico.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cartas .borderGeneral {
  position: absolute;
  margin-top: 5px;
  height: 440px;
  z-index: 1;
}

.border-comun .imagenAnime,
.border-plata .imagenAnime,
.border-oro .imagenAnime,
.border-raro .imagenAnime,
.border-epico .imagenAnime,
.border-mitico .imagenAnime {
  margin-top: 20px;
  width: 87%;
  height: 316px;
  object-fit: cover;
}

@media (max-width: 580px) {
  .border-comun .imagenAnime,
  .border-plata .imagenAnime,
  .border-oro .imagenAnime,
  .border-raro .imagenAnime,
  .border-epico .imagenAnime,
  .border-mitico .imagenAnime {
    margin-top: 20px;
    height: 160px;
    object-fit: cover;
  }
  .border-comun,
  .border-plata,
  .border-oro,
  .border-raro,
  .border-epico,
  .border-mitico {
    /* height: 346px;
    width: 185px; */
    height: 285px;
    width: 161px;
    border-radius: 10px;
  }
  .cartas .borderGeneral {
    position: absolute;
    margin-top: 5px;
    height: 275px;
    z-index: 1;
    width: auto;
  }
}
