body{
    background-color: #462241;
    background-image: url('/assets/background-sections.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .prueba{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 400px;
    padding-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px;
    border-radius: 1rem
  }
  .prueba .h1Prueba{
    font-weight: 700;
    font-size: 38px;
   
  }
  .cl-card {
    box-shadow: none;
    border: none;
    border-style: none;
    background: transparent;
    padding-top: 0;
  }
  .cl-formFieldInput{
    background-color: #A9B0B8;
  }
  
  .cl-headerTitle {
    visibility: hidden;
  }
  .cl-headerTitle::before{
    content: "INICIA SESIÓN";
    visibility: visible;
    font-weight: 700;
    font-size: 26px;
  }
  .cl-headerSubtitle{
    font-size:20px;
    font-weight: 500;
    color: #000000;
  }
  .cl-socialButtonsIconButton{
    background-color: #5e76bf;
  }
  .cl-socialButtonsIconButton:hover{
    background-color: #42548C;
  }
  .cl-main{
    gap: 10px;
  }
  .gemaForm{
    position: absolute;
    z-index: 3;
  }
  
  
  .cl-formButtonPrimary{
    background-color: #4aa2d9;
    color: #ffffff;
    font-weight: 200;
    border-radius: 50px;
  }
  .cl-formButtonPrimary:hover{
    background-color: #295773;
  }
  
  .cl-footer .cl-footerAction .cl-footerActionText{
    color: #000000;
    font-weight: 500;
  }
  .cl-footer .cl-footerAction .cl-footerActionLink{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
  }

  